*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #60636D;
}

h1,
h2,
h3 {
  font-family: "Spartan", sans-serif;
  font-weight: 700;
  color: #1B1D23;
}

h1 {
  font-size: 80px;
  line-height: 80px;
  letter-spacing: -2px;
}

h2 {
  font-size: 56px;
  line-height: 56px;
  letter-spacing: -2px;
}

h3 {
  font-size: 18px;
  line-height: 25px;
}

h1.large {
  font-size: 200px;
  line-height: 200px;
  letter-spacing: -5px;
  color: #EEEFF4;
}

.container {
  padding: 32px;
}

.flex {
  display: flex;
}

.flex-j-sb {
  justify-content: space-between;
}

.flex-ai-c {
  align-items: center;
}

.btn {
  display: inline-block;
  background-color: #1B1D23;
  padding: 24px 74px 24px 32px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

.btn::after {
  content: url(../assets/icons/icon-arrow-white.svg);
  position: absolute;
  top: 28px;
  right: 30px;
}

.page-label {
  display: none;
}

.logo img {
  display: block;
  width: 77px;
  height: auto;
}

.main-menu {
  display: none;
}

.mobile-menu-toggle {
  display: flex;
  align-items: center;
}

.mobile-menu {
  display: none;
  position: absolute;
  width: 90%;
  background-color: #EEEFF4;
  right: 0;
  padding: 45px;
}

.mobile-menu ul {
  list-style: none;
}

.mobile-menu a {
  display: block;
  color: #1B1D23;
  text-decoration: none;
}

.slide-container {
  position: relative;
}

.slide-container p {
  padding-bottom: 55px;
  color: white;
}

.slide-container h1 {
  padding-bottom: 15px;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -4;
  color: white;
}

.slide {
  display: none;
}

.slide-1 {
  display: block;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/home/mobile/image-hero-paramour.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 32px;
}

.slide-2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/home/mobile/image-hero-seraph.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 32px;
}

.slide-3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/home/mobile/image-hero-federal.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 32px;
}

.slide-4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/home/mobile/image-hero-trinity.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 110px 32px;
}

.slide-control {
  display: none;
}

.welcome {
  margin-top: 70px;
  padding: 68px 32px 68px 32px;
  position: relative;
}

.welcome h2 {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 46px;
}

.welcome p {
  margin-bottom: 25px;
}

.welcome::before {
  content: '';
  position: absolute;
  height: 2px;
  width: 65px;
  background-color: #C8CCD8;
  top: 0;
  left: 32px;
}

h1.large {
  display: none;
}

.about-us {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/home/mobile/image-small-team.jpg);
  margin-bottom: 72px;
  padding: 170px 32px;
}

.about-us h2 {
  margin-bottom: 32px;
  font-size: 40px;
  line-height: 46px;
  color: white;
}

.featured {
  padding: 32px;
}

.featured h2 {
  font-size: 40px;
  line-height: 46px;
}

.featured a {
  width: 100%;
}

.featured p {
  display: none;
}

.featured-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 25px 0;
  height: 240px;
  padding: 32px;
}

.featured-item h3,
.featured-item a {
  color: white;
}

.featured-item a {
  font-weight: 500;
  text-decoration: none;
}

.featured-item-1 {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(../assets/portfolio/mobile/image-del-sol-1.jpg);
}
/*# sourceMappingURL=styles.css.map */