.about-us {
    background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/home/mobile/image-small-team.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 36px;
    padding: 170px 32px;

    @media screen and (min-width: 768px) {
        background: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../assets/home/tablet/image-small-team.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 97px;
        padding: 170px 55px;
    }

    & h2 {
        margin-bottom: 32px;
        font-size: 40px;
        line-height: 46px;     
        color: white;

        @media screen and (min-width: 768px) {
            font-size: 56px;
            line-height: 56px;  
        }
    }
}