// BUTTONS

.btn {
    display: inline-block;
    background-color: $veryDarkBlue;
    padding: 24px 74px 24px 32px;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;

    &::after {
        content: url(../assets/icons/icon-arrow-white.svg);
        position: absolute;
        top:28px;
        right: 30px;
    }
}