// BUTTONS

.btn {
    display: inline-block;
    background-color: $veryDarkBlue;
    padding: 24px 78px 24px 32px; //58 + 15
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    position: relative;

    &::after {
        content: url(../assets/icons/icon-arrow-white.svg);
        position: absolute;
        top: 27px;
        margin-left: 20px;
    }
}

.btn-center {
    margin: auto;
}