// FEATURED SECTION

.featured {
    padding: 32px;

    @media screen and (min-width: 768px) {
        padding: 32px 97px;
    }

    & h2 {
        font-size: 40px;
        line-height: 46px;
    }
}

.featured-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.featured-items {
    display: flex;
    flex-direction: column;
}

.feature-mobile {
    width: 100%;

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.feature-tablet {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.featured-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 25px; 
    height: 240px;
    padding: 32px;   
    position: relative; 

    & h1.large {
        display: none;

        @media screen and (min-width: 768px) {
            display: block;
            opacity: 50%;
            font-size: 200px;
            position: absolute;
            top: 15px;
            right: 15px;
        }
    }

    & h3,
    & a {
        color: white;
    }

    & a {
        font-weight: 500;
        text-decoration: none;
    }
}

.featured-item-1 {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/portfolio/mobile/image-del-sol-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/portfolio/tablet/image-del-sol.jpg);
    }
}

.featured-item-2 {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/portfolio/mobile/image-228b.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/portfolio/tablet/image-228b.jpg);
    }
}

.featured-item-3 {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/portfolio/mobile/image-prototype.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (min-width: 768px) {
        background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5)), url(../assets/portfolio/tablet/image-prototype.jpg);
    }
}