// GLOBAL STYLES 

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: $font;
    font-weight: 500;
    font-size: 15px;
    line-height: 25px;
    color: $darkGrey;
}

h1,
h2,
h3 {
    font-family: $font;
    font-weight: 700;
    color: $veryDarkBlue;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -2px;
}

h2 {
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2px;
}

h3 {
    font-size: 18px;
    line-height: 25px;
}

h1.large {
    font-size: 200px;
    line-height: 200px;
    letter-spacing: -5px;
    color: $veryLightGrey;

    @media screen and (min-width: 768px) {
        font-size: 120px;
        letter-spacing: -3px;
        text-align: center;
    }


}

a {
    text-decoration: none;
}

.container {
    padding: 32px;
    
    @media screen and (min-width: 768px) {
        padding: 32px 97px;
    }
}

.flex {
    display: flex;

    &-col {
        flex-direction: column;
    }

    // justify content space between
    &-jc-sb {
        justify-content: space-between;
    }

    // justify content center
    &-jc-c {
        justify-content: center;
    }
  
    // align item center
    &-ai-c {
        align-items: center;
    }

    // align self center
    &-as-c {
        align-self: center;
    }
}

.fixed {
    position: fixed;
}

