// HEADER

.page-label {
    display: none;
}

.logo img {
    display: block;
    width: 77px;
    height: auto;
}

.main-menu {
    display: none;
}

.mobile-menu-toggle {
    display: flex;
    align-items: center;
}

.mobile-background {
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.6);
    z-index: 10;
    opacity: 0;
}

.mobile-menu {
    // display: none;
    position: absolute;
    width: 90%;
    background-color: $veryLightGrey;
    right: 0;
    padding: 30px 0; 

    & ul {
        list-style: none;
    }

    & a {
        display: block;
        padding: 15px 15px 15px 45px;
        color: $veryDarkBlue;
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
    } 
 
}

.show {
    display: block;
}

.fade-in {
    opacity: 1;
    transition: opacity 500ms;
}

.fade-out {
    opacity: 0;
    transition: opacity 500ms;
}
